{% extends 'base.html' %}

{% block title %}
  Riwayat - CoffeeShop
{% endblock %}

{% block content %}
  <div class="mt-5">
    <h2 class="text-center mb-4">Riwayat Pemesanan</h2>

    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        12 Mei 2025 - Caffe Latte (2)
        <span class="badge bg-success">Selesai</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        10 Mei 2025 - Espresso (1)
        <span class="badge bg-success">Selesai</span>
      </li>
    </ul>
  </div>
{% endblock %}