{% load static %}
{% load humanize %}

<div class="text-center">
  <h5>Konfirmasi Pembayaran</h5>
  <p>Total Pembayaran: <strong>Rp {{ total|intcomma }}</strong></p>

  <img src="{% static 'images/qr_dana.png' %}" alt="QR DANA" style="width: 200px; margin-bottom: 10px;" /><br />

  <p class="mt-2">Transfer ke DANA <strong>082251409098</strong> atas nama CoffeeShop.</p>

  <form id="formBuktiBayar" enctype="multipart/form-data" class="mt-3">
    {% csrf_token %}
    <input type="hidden" name="transaksi_id" value="{{ transaksi.id }}">
    <input type="file" name="bukti_pembayaran" accept="image/*" required class="form-control">
    <button type="submit" class="btn btn-success mt-2">Upload Bukti</button>
  </form>

  <button id="btnConfirmPayment" class="btn btn-primary mt-3">
    Saya sudah bayar
  </button>
</div>
<script>
  window.transaksiId = {{ transaksi.id }};
</script>